// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thanos {
  float: left;
  height: 150px;
  margin: 15px;
  border-radius: 30px;
  opacity: 0.8;
}

#editEntry {
  margin-left: 15px;
}

.book {
  cursor: pointer; 
  cursor: hand; 
}

.reviewTitle {
  text-align: center;
}

#dateDisplay {
  float: right;
}

.bookDisplay {
  margin-bottom: 12px;
    font-size: larger;
    padding: 15px;
    opacity: 0.8;
}

#reviewerInput {
  margin-top: 15px;
}

.homepage{
  background:url('/images/infinity2.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}

.showpage{
  min-height:100%;
  background-size:cover;
}

.top {
  font-family: 'UnifrakturMaguntia', cursive;
  color: #CED807;
  margin-top: 25px;
  text-shadow: 2px 2px #ff0000;
}

.book {
  opacity: 0.8;
}

.homepageImages {
  float: right;
  height: 145px;
}

.bookInfo {
  text-align: right;
  color: #FBFCD3;
  text-shadow: 4px 4px black;
}
 .wholepage {
  background-color: #810828;
 }

.reviewsBook {
  color: #FBFCD3;
  text-shadow: 4px 4px black;
}

.reviewBox {
  opacity: 0.8;
}

.navbar {
  opacity: .8;
}

body {
  margin-top: 15px;
}