 <div class="page">
  <div class="container">
    <h1>New thought for <%= @book.title %></h1>

    <% if @review.parent %>
      <%= render 'review', review: @review.parent, from_reply_form: true %>
    <% end %>

    <%= render 'form' %>
  </div>
</div>